*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: azure;

}

.container{
    width: 500px;
    /* height: 200px; */
    margin: 100px auto;
    padding: 20px;
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
    
}
.title{
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fade-in 2s ease-in-out infinite;
}
.input{
    display: inline-block;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.button:hover{
    background-color: darkblue;
}
.ul{
    margin-top: 20px;
    padding: 0;
    text-align: left;
}
.items{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.item{
    display: flex;
    align-items: center;
}
.text{
    margin-left: 10px;
}
.deleteBtn{
    padding: 5px;
    
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}